





*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
.hero{
	height: 100vh;
	width: 100%;
	background-image: url(../img/background1.jpg);
	background-size: cover;
	background-position: center;
}
html{
	scroll-behavior: smooth;
}
nav{
	display: flex;
	align-items: end;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 8%;
	padding-right: 8%;
}
.hero h5 a{
	color: #ffffff;
	font-size: 20px;
	letter-spacing: 1px;
	cursor: pointer;
}
span{
	color: #f9004d;
}
nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: white;
	font-size: 20px;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
	align-items: center;
	display: flex;
	max-width: 100%;
}
nav ul li a:hover{
	color: #f9004d;
	transition: .4s;
}
.btn{
	background-color:#f9004d;
	color: white;
	display: flex;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 10px 25px;
	border-radius: 30px;
	transition: transform .4s; 
}
.btn:hover{
	transform: scale(1.2);
}
.content{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}
h1{
	color: white;
	margin: 20px 0px 20px;
	font-size: 75px;
	
}
h2{
	color: white;
}
h3{
	color: white;
	font-size: 25px;
	margin-bottom: 50px;
}
h4{
	color: #fcfc;
	letter-spacing: 2px;
	font-size: 20px;
}
.newslatter form{
	width: 380px;
	max-width: 100%;
	position: relative;
}
.newslatter form input:first-child{
	display: inline-block;
	width: 100%;
	padding: 14px 130px 14px 15px;
	border: 2px solid #f9004d;
	outline: none;
	border-radius: 30px;
}
.newslatter form input:last-child{
	position: absolute;
	display: inline-block;
	outline: none;
	border: none;
	padding: 10px 30px;
	border-radius: 30px;
	background-color:#f9004d;
	color: white;
	box-shadow: 0px 0px 5px #aae608, 0px 0px 15px #858585;
	top: 6px;
	right: 6px; 
}

.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about img{
	display: flex;
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1130px;
	max-width: 100%;
	margin: 0 auto;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.main img{
	width: 1130px;
	max-width: 45%;
	margin: 0 auto;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: #fcfc;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 45px;
}
button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.outer-grid{
	display: flex;
	flex-wrap: wrap;
	border-radius: 20px;
	background-color: #191919;
	padding: 0 4px;
}
.inner-grid{
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
}

.inner-grid img{
	margin-top: 8px;
	width: 100%;
	position: initial;
	cursor: pointer;
	transition: transform .4s;
	align-items: center;
	padding: 10%;
}
.inner-grid img:hover{
	transform: scale(1.2);
}
@media screen and (max-width: 800px){
	.inner-grid{
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px){
	.inner-grid{
		flex: 100%;
		max-width: 100%;
	}
}
.service{
	background: #101010;
	width: 100%;
	padding: 100px 0px;
}
.service p{
	color: #fcfc;
}
.service h2{
	color: #ffffff;
}
.title h2{
	color: white;
	font-size: 75px;
	width: 100%;
	margin: 30px auto;
	text-align: center;
}
h2{
	color: white;
	font-size: 18px;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: #f9004d;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: #fcfc;
	font-size: 96px;
	line-height: 27px;
	margin-bottom: 25px;
}
p{
	color: #fcfc;
	font-size: 16px;
}
.card .button{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 9px 22px;
	border-radius: 30px;
	transition: .4s; 
}
.card .button:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
.contact-me{
	width: 100%;
	height: 290px;
	background-image: url(../img/image_4.jpg);
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
.contact-me p{
	color: black;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 25px;
}
.contact-me .button-two{
	background-color:#f9004d;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
.contact-me .button-two:hover{
	background-color: transparent;
	border: 2px solid #f9004d;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #101010;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer b{
	color: #ffffff;
}
footer p:nth-child(1){
	font-size: 30px;
	color: white;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: white;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
.social{
	display: flex;
}
.social a{
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #f9004d;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color: white;
	bottom: 35px;
	font-size: 15px; 
}
.end span{
	color: #f9004d;
}
@media screen and (max-width: 800px){
	.service h2{
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px){
	.service h2{
		flex: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 800px){
	.title h2{
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px){
	.title h2{
		flex: 100%;
		max-width: 100%;
	}
}




@media (min-width: 800px){
	.about-text{
		flex: 50%;
		max-width: 50%;
	}
}
@media (max-width: 600px){
	.about-text{
		flex: 100%;
		max-width: 100%;
		font-size: 20px;
	}
}


/*About me Text*/
@media screen and (max-width: 800px){
	.about-text h2{
		flex: 50%;
		max-width: 50%;
		font-size: 40px;
	}
}
@media screen and (max-width: 600px){
	.about-text h2{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.about-text h5{
		flex: 50%;
		max-width: 50%;
		font-size: 13px;
	}
}
@media screen and (max-width: 600px){
	.about-text h5{
		flex: 100%;
		max-width: 100%;
	}
}

/**/

@media screen and (max-width: 800px){
	.title h2{
		flex: 50%;
		max-width: 50%;
		font-size: 25px;
		padding-bottom: 5px;
	}
}
@media screen and (max-width: 600px){
	.title h2{
		flex: 100%;
		max-width: 100%;
	}
}

/**/

@media screen and (max-width: 800px){
	.about-text h2{
		flex: 50%;
		max-width: 50%;
		font-size: 40px;
	}
}
@media screen and (max-width: 600px){
	.about-text h2{
		flex: 100%;
		max-width: 100%;
	}
}


@media screen and (max-width: 800px){
	.about-text p{
		flex: 50%;
		max-width: 50%;
		font-size: 11px;
		margin-bottom: 20px;
		padding-left: 60px;
		padding-right: 60px;
		letter-spacing: 1;
		line-height: 17px;
	}
}
@media screen and (max-width: 600px){
	.about-text p{
		flex: 100%;
		max-width: 100%;
	}
}



@media screen and (max-width: 800px){
	.about{
		flex: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 600px){
	.about{
		flex: 100%;
		max-width: 100%;
	}
}



@media screen and (max-width: 100%){
	.main{
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 100%){
	.main{
		flex: 100%;
		max-width: 100%;
	}
}
@media screen and (max-width: 100%){
	.main img{
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 100%){
	.main img{
		flex: 100%;
		max-width: 100%;
	}
}



@media screen and (max-width: 800px){
	.box p{
		flex: 50%;
		max-width: 50%;
		font-size: 13px;
	}
}
@media screen and (max-width: 600px){
	.box p{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.box h2{
		flex: 50%;
		max-width: 50%;
		padding-bottom: 1px;
		font-size: 15px;
	}
}
@media screen and (max-width: 600px){
	.box h2{
		flex: 100%;
		max-width: 100%;
	}
}



@media screen and (max-width: 800px){
	.contact-me{
		flex: 50%;
		max-width: 50%;
		align-items: center;
		font-size: 15px;
	}
}
@media screen and (max-width: 600px){
	.contact-me{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.hero{
		flex: 50%;
		max-width: 100%;
		height: 350px;
		background-image: url(../img/background2.jpg);
	}
}
@media screen and (max-width: 600px){
	.hero{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	nav ul li a{
		flex: 50%;
		max-width: 100%;
		height: 35px;
		background-color: #424242;
		border-radius: 3px;
	}
}
@media screen and (max-width: 600px){
	nav ul li a{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.hero a{
		flex: 50%;
		max-width: 50%;
		font-size: 10px;
		padding-left: 8px;
		padding-right: 14px;
		justify-content: space-between;
		position: fixed;
	}
}
@media screen and (max-width: 600px){
	.hero a{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.hero h5 a{
		flex: 50%;
		max-width: 50%;
		padding-left: 20px;
		font-size: 15px;
		display: none;
	}
}
@media screen and (max-width: 600px){
	.hero h5 a{
		flex: 100%;
		max-width: 100%;
	}
}


@media screen and (max-width: 800px){
	.hero h2 a{
		flex: 50%;
		max-width: 50%;
		font-size: 15px;
		padding-left: 2px;
		margin-top: 2px;
	}
}
@media screen and (max-width: 600px){
	.hero h2 a{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.content h1{
		flex: 50%;
		max-width: 50%;
		font-size: 40px;
		display: none;
	}
}
@media screen and (max-width: 600px){
	.content h1{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.content h4{
		flex: 50%;
		display: none;
		max-width: 50%;
		top: 200px;
		margin-bottom: 20px;
		margin-top: 0px;
		font-size: 15px;
	}
}
@media screen and (max-width: 600px){
	.content h4{
		flex: 100%;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.newslatter form input:last-child{
		flex: 50%;
		max-width: 50%;
		display: none;
		font-size: 40px;
	}
}
@media screen and (max-width: 600px){
	.newslatter form input:last-child{
		flex: 100%;
		display: none;
		max-width: 100%;
	}
}
@media screen and (max-width: 800px){
	.newslatter form input:first-child{
		flex: 50%;
		max-width: 50%;
		display: none;
		font-size: 40px;
	}
}
@media screen and (max-width: 600px){
	.newslatter form input:first-child{
		flex: 100%;
		display: none;
		max-width: 100%;
	}
}

@media screen and (max-width: 800px){
	.contact-me{
		flex: 50%;
		max-width: 100%;
		height: 250px;
	}
}
@media screen and (max-width: 600px){
	.contact-me{
		flex: 100%;
		max-width: 100%;
	}
}
